<%= form_for(@contributor_address) do |f| %>
  <% if @contributor_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contributor_address.errors.count, "error") %> prohibited this contributor_address from being saved:</h2>

      <ul>
      <% @contributor_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
